* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v19_474 {
  width: 390px;
  height: 844px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v19_475 {
  width: 390px;
  height: 844px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v19_510 {
  width: 100px;
  height: 100px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 272px;
  left: 145px;
  overflow: hidden;
}
.v19_511 {
  width: 91px;
  height: 73px;
  background: url("../images/v19_511.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 13px;
  left: 5px;
  overflow: hidden;
}
.v19_512 {
  width: 91px;
  height: 73px;
  background: url("../images/v19_512.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v19_513 {
  width: 91px;
  height: 73px;
  background: url("../images/v19_513.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v19_514 {
  width: 91px;
  height: 73px;
  background: url("../images/v19_514.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v19_515 {
  width: 91px;
  height: 72px;
  background: url("../images/v19_515.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 1px;
  overflow: hidden;
}
.v19_516 {
  width: 91px;
  height: 72px;
  background: url("../images/v19_516.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v19_517 {
  width: 91px;
  height: 72px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v19_518 {
  width: 45px;
  height: 48px;
  background: url("../images/v19_518.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 24px;
  left: 0px;
  overflow: hidden;
}
.v19_519 {
  width: 45px;
  height: 48px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v19_520 {
  width: 91px;
  height: 72px;
  background: url("../images/v19_520.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 1px;
  overflow: hidden;
}
.v19_521 {
  width: 91px;
  height: 72px;
  background: url("../images/v19_521.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v19_522 {
  width: 91px;
  height: 72px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v19_523 {
  width: 45px;
  height: 48px;
  background: url("../images/v19_523.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v19_524 {
  width: 45px;
  height: 48px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v19_525 {
  width: 91px;
  height: 72px;
  background: url("../images/v19_525.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v19_526 {
  width: 91px;
  height: 72px;
  background: url("../images/v19_526.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v19_527 {
  width: 91px;
  height: 72px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v19_528 {
  width: 45px;
  height: 48px;
  background: url("../images/v19_528.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 46px;
  overflow: hidden;
}
.v19_529 {
  width: 45px;
  height: 48px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v19_530 {
  width: 91px;
  height: 72px;
  background: url("../images/v19_530.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v19_531 {
  width: 91px;
  height: 72px;
  background: url("../images/v19_531.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v19_532 {
  width: 91px;
  height: 72px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v19_533 {
  width: 45px;
  height: 48px;
  background: url("../images/v19_533.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 24px;
  left: 46px;
  overflow: hidden;
}
.v19_534 {
  width: 45px;
  height: 48px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v19_535 {
  width: 195px;
  color: rgba(23,26,31,1);
  position: absolute;
  top: 404px;
  left: 92px;
  font-family: Archivo;
  font-weight: Regular;
  font-size: 40px;
  opacity: 1;
  text-align: center;
}
.v19_536 {
  width: 300px;
  color: rgba(23,26,31,1);
  position: absolute;
  top: 472px;
  left: 45px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v26_27 {
  width: 334px;
  height: 43px;
  background: url("../images/v26_27.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 727px;
  left: 28px;
  overflow: hidden;
}
.v26_20 {
  width: 334px;
  height: 43px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v26_24 {
  width: 108px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 11px;
  left: 113px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v26_26 {
  width: 334px;
  height: 43px;
  background: url("../images/v26_26.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 784px;
  left: 28px;
  overflow: hidden;
}
.v26_22 {
  width: 334px;
  height: 43px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v26_25 {
  width: 70px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 12px;
  left: 132px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
